body {
    background-image: url("/img/SJ.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
    


}

nav  {
    background-color: rgb(48, 241, 255);
    padding: 15px;
    right: 0;
    left: 0;
    position: absolute;

}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin-right: 100px;

}
nav ul li a {
    border: 1px solid;
    color: rgb(112, 42, 42);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.6);
    background-color: rgb(10, 255, 30);
}

h1 {
    color: rgb(0, 0, 0);

}

footer{
    background-color: rgb(48, 241, 255);
    padding: 10px;
    margin-bottom: 20px;
    right: 0;
    left: 0;
    position: absolute;
    border-radius: 15px;
    box-shadow: 8px 8px 3px rgb(0, 0, 0, 0.6);
    text-align: center;

}

header{
    padding: 1px;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

header p {
    margin-left: 20px;
}

header img {
    border-radius: 50px;
    box-shadow: 4px 4px 2px rgb(0, 0, 0, 0.6);
}
.contenido{
    position: relative;
    z-index: 1;
    margin: 50px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 8px 8px 3px rgb(0, 0, 0, 0.6);
    padding-bottom: 30px;

} 

.bordeimg {
    border-radius: 15px;
    margin-right: 20px;
}


.dividido{
    columns: 2;
    column-gap: 20px;
}

.item{
    break-inside: avoid-column;
}